---
title: Welcome to Middleman
---
.row
  .large-12.columns
    %h1 Philadelphia Design Co.
.row
  .large-12.columns
    %img(src="http://placehold.it/1500x450")    
.row
  .large-12
    %hr/
  .large-8.medium-8.columns
    .row
      .large-12.columns
        .callout
          %p
            %strong Intro  about the featured content.
            Highlight interesting content. 
    .row
      .large-12.columns
        .callout
          %h3 Featured case study
          %img(src="http://placehold.it/770x350")    
    .row
      .large-6.medium-6.columns
        .callout
          %h3 Upcoming event
          %p Show the event here. Include:
          %ul
            %li Date
            %li image
            %li video (maybe?)
          %a.small.button{:href => "#"} View all events
      .large-6.medium-6.columns
        .callout
          %h3 Upcoming Webinar
          %p Pull in some intro content here. Also, include:
          %ul
            %li Speaker name
            %li Date
            %li Speaker image
          %a.small.button{:href => "#"} View all webinars
    %hr/
    .row
      .large-12.columns    
        %h2 Follow us
    .row      
      .large-4.medium-4.small-4.columns
        .callout
          %h3 Twitter posts
          = simple_format lorem.paragraph
      .large-4.medium-4.small-4.columns
        .callout
          %h3 Facebook posts
          = simple_format lorem.paragraph
      .large-4.medium-4.small-4.columns
        .callout
          %h3 Instagram images
          %img.thumbnail(src="http://placehold.it/200x200")
          %img.thumbnail(src="http://placehold.it/200x200")
          %img.thumbnail(src="http://placehold.it/200x200")

  .large-4.medium-4.columns
    %h3 Newsletter signup
    %form
      .row
        .large-12.columns
          %label Input Label
          %input{:placeholder => "large-12.columns", :type => "text"}
      .row
        .large-12.columns
          %label Input Label
          %input{:placeholder => "large-4.columns", :type => "text"}
        .large-12.columns
          %label Input Label
          %input{:placeholder => "large-4.columns", :type => "text"}
        .large-12.columns
          %label Input Label
          .input-group
            %input.input-group-field{:placeholder => "small-9.columns", :type => "text"}
            %span.input-group-label .com
        .large-12.columns
          %a.small.button{:href => "#"} Signup
    
    %hr/

    .callout
      %h3
        = lorem.words(3).capitalize
      %p 
      = simple_format lorem.paragraph

    .callout
      %h3
        = lorem.words(3).capitalize
      %p 
      = simple_format lorem.paragraph
